@import '../../assets/fontawesome/css/all.min.css';

badge-icon i {
  color: #FFFFFF;
  display: table-cell;

  width: 40px;
  height: 32px;
  padding-top: 8px;

  font-size: 24px;
  text-align: center;
  
  border-radius: 20px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 50%);
}

.fa-star {  
  background-color: #f1be19;
}

.fa-home {  
  background-color: #5FB7B1;
}

.inquilino {  
  background-color: #B656D8;
}

.fa-users {  
  background-color: #FF6633;
}

.fa-wrench {  
  background-color: #0089CC;
}

.fa-address-card {  
  background-color: #0089CC;
}

.visitante {
  background-color: #FFFFFF;
  color: #FF6633;
  border: 1px solid #FF6633;
}

.prestadorTemporario {
  background-color: #FFFFFF;
  color: #0089CC;
  border: 1px solid #0089CC;
}

.fa-taxi {
  background-color: #FFFFFF;
  color: #0089CC;
  border: 1px solid #0089CC;
}

.fa-shopping-cart {
  background-color: #FFFFFF;
  color: #0089CC;
  border: 1px solid #0089CC;
}

.mini {
  width: 25px;
  height: 20px;
  padding-top: 5px;
  
  font-size: 16px;
  text-align: center;
  
  border-radius: 12px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 50%);
}