:host {
  display: block;
  background-color: #f1be19;
  color: #FFFFFF;
  position: inherit;
  padding-top: 0;
  width: 2.5vw;
  height: 4.2vh;
  padding-top: 6px;
  text-align: center;
  z-index: 1;
  top: 12px;
  left: 0;
  font-size: 24px;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 50%);
}

i {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  height: 2.5vh;
}

.fa-star {  
  content: url('./assets/star.svg');
}